*{
	margin:0;
	padding:0;
}
body{
	background:#333;
	font-family:Arial, Helvetica;
}
#page{
	width:100%;
	height:100%;
	background:#FFFFFF;
}
#wallScreenCanvas{
	width:100%; height:100%;
}

.fullScreen{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
.hidden{ display:none}

#recalibrate{
	background:rgba(0,0,0,0.5);
	z-index:100;
}

@keyframes corner{
	0%{width:3%; height:3%}
	4%{width:15%; height:15%}
	16%{width:3%; height:3%}
}

#recalibrate .recalibrate-corner{
	display:none;
	width:3%;
	height:3%;
	background-color:#FF0;
	position:absolute;
    animation: corner 2.5s ease-in-out infinite;
}
#recalibrate-0{ top:0; left:0}
#recalibrate-1{ top:0; right:0}
#recalibrate-2{ bottom:0; left:0}
#recalibrate-3{ bottom:0; right:0}

#recalibrate-content{
	position:absolute;
	background:rgba(0,0,0,0.7);
	width:80%;
	top:50%; left:50%;
	color:#FFF;
	transform:translate(-50%,-50%);
	font-size:1.4em;
	text-align:center;
}
#recalibrate-content h2{
	margin-bottom:1em;
}

#debug{
	width:60%;
	position:absolute;
	left:20%;
	bottom:0;
	background:#000;
	color:#FFF;
}


@keyframes interactBg{
	from{
		top:50%;
		left:50%;
		width:0%;
		height:0%;
	}
	to{
		top:0%;
		left:0%;
		width:100%;
		height:100%;
	}
}

.interactable{
	position:absolute;
	box-shadow:0px 0px 0px 2px rgba(0,0,0,0.2) inset
}
	.interactable-bg{
		position:absolute;
		top:50%;
		left:50%;
		width:0%;
		height:0%;
		background:rgba(0,0,0,0.3);
	}
	.interactable.hovered .interactable-bg{
		animation: interactBg 3s ease-in infinite;
	}
	.interactable-content img{
		max-width:25%;
	}
	.interactable-content{
		text-align:center;
		font-size:3.2em;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
		width:80%;
		left:10%;
	}